doctype html
html
    title #{title} - PrivateSshManger
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/styles.min.css', rel='stylesheet')
        script(src="https://code.jquery.com/jquery-3.1.1.min.js", type="text/javascript")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type="text/javascript" )
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/api.min.css', rel='stylesheet')
        
    body(contenteditable='false')
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-brand(href='#') PrivateSshManager #{version}
                ul
                    li
                        a(href='/') Dashboard
                    li
                        a(href='/user') User
                    li
                        a(href='/socks') Socks
                    li
                        a(href='/campaign') Campaign
                    li
                        a(href='/api' style='background-color: #ffc000; color: white') API
                    li(style='float:right;')
                        a(href='/logout') Logout
                    li(style='float:right;')
                        a(href='/v3', style='background-color: #e87870; color: white; font-weight: bold') v3
                    li(style='float:right;')
                        .time#server-time #{time}

        .container.ng-scope(style='margin-top:15px; padding-bottom: 10px;')
            div#body(style='margin: 0 auto; width: 60%;')
                br
                br
                h3(style="margin-bottom: -10px;") Auto Upload API Key
                br
                .form-group
                    div(style='padding-left: 10px; padding-bottom: 5px;')
                        input#auto_upload_apikey(style="background: #dee9ff; border: none; text-align: center; width: 90%; line-height: 10px" value=upload_apikey placeholder="No API Key" readonly)
                        button.btn.btn-info.glyphicon.glyphicon-copy#auto_upload_ToClipBoard(style='width: 10%; line-height: 10px')
                button.btn.btn-primary#auto_upload_NewAPIKEY(style='width: 100%;') Generate New API Key
                br
                br
                h3(style="margin-bottom: -10px;") Auto GetSocks API Key
                br
                .form-group
                    div(style='padding-left: 10px; padding-bottom: 5px;')
                        input#auto_getSocks_apikey(style="background: #dee9ff; border: none; text-align: center; width: 90%; line-height: 10px" value=getsocks_apikey placeholder="No API Key" readonly)
                        button.btn.btn-info.glyphicon.glyphicon-copy#auto_getSocks_ToClipBoard(style='width: 10%; line-height: 10px')
                button.btn.btn-primary#auto_getSocks_NewAPIKEY(style='width: 100%;') Generate New API Key
                br
                br
                h3(style="margin-bottom: -10px;") Auto Checkfresh API Key
                br
                .form-group
                    div(style='padding-left: 10px; padding-bottom: 5px;')
                        input#auto_checkFresh_apikey(style="background: #dee9ff; border: none; text-align: center; width: 90%; line-height: 10px" value=checkfresh_apikey placeholder="No API Key" readonly)
                        button.btn.btn-info.glyphicon.glyphicon-copy#auto_checkFresh_ToClipBoard(style='width: 10%; line-height: 10px' disabled)
                button.btn.btn-primary#auto_checkFresh_NewAPIKEY(style='width: 100%;' disabled) Generate New API Key
                br

    #confirm-submit.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog(style='width: 30%; padding-right: 0.5%;')
            .modal-content
                .modal-header
                    | Please Confirm
                .modal-body
                    | Are you sure you want to Reset All Socks?
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                    button#SocksResetAll_Sure.btn.btn-primary(style='width: 20%') Sure
    #pleaseWaitDialog.modal.fade.in(data-backdrop='static', data-keyboard='false', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h3#pleaseWaitDialog_title(style='margin:0;')
                .modal-body(style="height: 55px")
                    .progress.progress-striped.active
                        .progress-bar.progress-bar-primary(style='width: 100%')

    script.
        $(document).ready(function() {
            $("#auto_upload_NewAPIKEY").click(function(e) {
                $('#pleaseWaitDialog_title').text("Generating..");
                $("#pleaseWaitDialog").modal('show');
                $.ajax({
                type: "POST",
                url: "/api/admin-socks/UploadAPIKey",
                timeout: 30000,
                success: function(results) {
                    if (results.success === true) {
                    $("#auto_upload_apikey").val(results.msg)
                    } else {
                    console.log(results.msg)
                    }
                    $("#server-time").text(results.time)
                },
                complete: function(){
                    $("#pleaseWaitDialog").modal('hide');
                }
                });
            });

            $("#auto_upload_ToClipBoard").click(function(e) {
                $("#auto_upload_apikey").select()
                document.execCommand("copy");
            });
        });

        $(document).ready(function() {
            $("#auto_getSocks_NewAPIKEY").click(function(e) {
                $('#pleaseWaitDialog_title').text("Generating..");
                $("#pleaseWaitDialog").modal('show');
                $.ajax({
                type: "POST",
                url: "/api/admin-socks/GetSocksAPIKey",
                timeout: 30000,
                success: function(results) {
                    if (results.success === true) {
                    $("#auto_getSocks_apikey").val(results.msg)
                    } else {
                    console.log(results.msg)
                    }
                    $("#server-time").text(results.time)
                },
                complete: function(){
                    $("#pleaseWaitDialog").modal('hide');
                }
                });
            });

            $("#auto_getSocks_ToClipBoard").click(function(e) {
                $("#auto_getSocks_apikey").select()
                document.execCommand("copy");
            });
        });

    footer#footer.container.footer
        br
        .copyright
        | Copyright © 2016 
        a(target='_blank', href='https://yoloteam.org') YoloTEAM