doctype html
html
    title #{title} - PrivateSshManger
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/bootstrap-table.css', rel='stylesheet')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/bootstrap-tagsinput.css', rel='stylesheet')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/styles.min.css', rel='stylesheet')
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type="text/javascript" )
        script(src='https://yoloteam.github.io/YoloTEAMCDN/public/js/bootstrap-table.min.js')
        script(src='https://yoloteam.github.io/YoloTEAMCDN/public/js/bootstrap-tagsinput.min.js')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/campaign.min.css', rel='stylesheet')

        link(href='/css/bootstrap-toggle.min.css', rel='stylesheet')
        script(src='/js/bootstrap-toggle.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')
        script.
            var socket = io('http://#{server}:#{port}')

    body(contenteditable='false')
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-brand(href='#') PrivateSshManager #{version}
                ul
                    li
                        a(href='/') Dashboard
                    li
                        a(href='/user') User
                    li
                        a(href='/socks') Socks
                    li
                        a.active(href='/campaign') Campaign
                    li
                        a(href='/api' style='background-color: #ffc000; color: white') API
                    li(style='float:right;')
                        a(href='/logout') Logout
                    li(style='float:right;')
                        a(href='/v3', style='background-color: #e87870; color: white; font-weight: bold') v3
                    li(style='float:right;')
                        .time#server-time #{time}
        .container.ng-scope(style='margin-top:25px; padding-bottom: 10px;')
            #toolbar
                button#toolbar_addUser.btn.btn-info
                    i.glyphicon.glyphicon-plus
                    |  New Campaign
            table#table.hoverTable(data-toolbar='#toolbar', data-toggle='table', data-search='true', data-select-item-name='toolbar1', data-pagination='true', data-sort-order="desc")
                thead
                    tr
                        th.text-center(data-sortable="true") Num
                        th.text-center(data-sortable="true") Campaign Name
                        th.text-center Country
                        th.text-center(data-sortable="true") Total Socks
                        th.text-center(data-sortable="true") Auto Renew
                        th.text-center Control
                each item, i in rows
                    tr
                        td=i+1
                        td=item.campaignName
                        td=item.country
                        td=item.totalSocks === -1 ? 'Unlimited' : item.totalSocks
                        td=item.totalSocks === -1 ? item.autoRenew : '--'
                        td
                            .btn-xs.btn-primary#control-row.i.glyphicon.glyphicon-console(style='width:50% !important;')
                            .btn-xs.btn-warning#del-row.i.glyphicon.glyphicon-remove(style='margin-left: 10%')

    #myModalAdd.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title Add Campaign
                // Modal Body
                .modal-body
                    form.form-horizontal(onsubmit="return false")
                        .form-group
                            label.col-sm-2.label.label-danger#myModalAdd_MsgErr
                            label.col-sm-2.label.label-warning#myModalAdd_MsgWarn
                        .form-group
                            label.col-sm-2.control-label Campaign Name (a-z; A-Z; 0-9)
                            .col-sm-10
                                input#addCampaginName.form-control(type='text' placeholder='Campaign Name')
                        .form-group
                            label.col-sm-2.control-label Country
                            .col-sm-10
                                input#addCountry.form-control(data-role="tagsinput")
                        .from-group
                            label.control-label Options
                            .col-sm-10
                                label.checkbox-inline
                                    input#unlimited(type='checkbox', checked, data-toggle='toggle', data-on="Unlimited", data-off="Limit", data-width="100", data-offstyle="warning", data-size="small")
                                    |  Campaign
                                label.checkbox-inline(style='margin-left: 5%')
                                    input#autoRenew(type='checkbox', data-toggle='toggle', data-offstyle="warning", data-size="small")
                                    |  Auto Renew
                        .form-group.form-inline
                            .col-sm-10
                                label.control-label Available in Database
                            br
                            br
                            div
                                .col-sm-10(style="margin-left: 24%")
                                    button.btn-xs.btn-primary.i.glyphicon.glyphicon-refresh#_refreshCountryList
                                    label.custom-control.mb-2.mr-sm-2.mb-sm-0
                                        input#addSocksNumber.form-control(style="margin:0 auto; text-align: center; width: 150px" type='text' placeholder='Socks Number' disabled)                    
                                    button.btn-xs.btn-primary.i.glyphicon.glyphicon-plus#_addsocksNumber
                                br
                                div(style="margin: 5%")
                                    ul.list-group#countryList

                // Modal Footer
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                    button#addCampagin.btn.btn-primary(style='width: 30%') Save

    #myModalControl.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title Control Campaign (Beta)
                // Modal Body
                .modal-body
                    form.form-horizontal(onsubmit="return false")
                        .form-group
                            label.col-sm-2.label.label-danger#myModalControl_Msg
                            label.col-sm-2.label.label-success#myModalControl_cMsg
                        .from-group
                            label#myModalControl_Campaign(style='display: block; text-align: center;')
                        .from-group
                            label.control-label Options
                            .col-sm-10(style='display: block; text-align: center;')
                                label.checkbox-inline(style='margin-left: 5%')
                                    input#autoRenewControl(type='checkbox', data-toggle='toggle', data-size="small")
                                    |  Auto Renew
                        .from-group
                            label.control-label Control
                            div(style='display: block; text-align: center;')
                                .col-sm-10(style='display: block; text-align: center;')
                                    label.checkbox-inline(style='margin-left: 5%')
                                        input#myModalControl_AutoImport(type='checkbox', checked, data-toggle='toggle', data-on="Started", data-off="Stopped", data-width="100", data-offstyle="danger", data-size="small")
                                        |  All Clients Auto Import
                                br
                                br
                                button#myModalControl_GetNewSocks.btn.btn-primary Make All Clients Get New Socks

                // Modal Footer
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button#SaveChanges.btn.btn-primary Save changes

    #myModalDelete.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title Delete Campaign
                // Modal Body
                .modal-body
                    .Delete
                        label#myModalDelete_Campaign(style='display: block; text-align: center;')
                // Modal Footer
                .modal-footer
                    label#myModalDelete_Msg(style='color: red')
                    button.btn.btn-default(type='button', data-dismiss='modal') No
                    button#yesDelete.btn.btn-primary(style='width: 30%') Yes

    //script(src='https://yoloteam.github.io/YoloTEAMCDN/public/js/campaign.min.js')
    script(src='js/js-no-min/campaign.js')

    footer#footer.container.footer
        br
        .copyright
            | Copyright © 2016 
            a(target='_blank', href='https://yoloteam.org') YoloTEAM