html
	head
		title PrivateSshManger v3
		style.
			body {
			background: #009688;
			font-family: 'Roboto', sans-serif;
			}
			#poll{
			width: 300px;	
			margin: 80px 32% 10px;
			}
			a:link, a:visited {
			color: #FFC107;
			}
			#demo{
			border: dotted;
			width: 800px;
			color: white;
			font-weight: bold;
			font-size: 20px;
			font-family: arial, sans-serif;
			padding: 30px;
			margin: 100px 15%;
			}

	body
		center(style='margin-top: 25px;')  
		div#demo
			label
				.h1(style="font-size: 30px; text-align: center;") PrivateSshManger v2 - ClientChanger
				div(style="text-align:center; display:block;")
					a(style="font-size: 18px", href='https://www.fshare.vn/file/UHITCWBLRSD5') Download
					|  - 
					a(style="font-size: 18px", href='https://gitlab.com/yoloteamdotorg/privssh-clientchanger') Source
					br
					br
					.label(style="font-size: 15px") (password-unzip: https://yoloteam.org)
				br
				br
				div(style="text-align:center; display:block;")
					img(src='https://i.imgur.com/RdhDLa7.png')
				br
				br
				| _______________________________________________
				br
				br
				| => Đây là phiên bản DEMO, các chức năng gồm có:
				.lable(style="padding-left: 20px")
					ul
						li Chọn Socks theo Country, State, City.
						li Check Blacklist. Tự động Next Socks khi thấy SSH BL
						li Lưu lại Socks được sử dụng gần nhất, lần sau mở sẽ Login lại
						li Hỗ trợ: XP, Windows 7, Windows 10
				br
				| _______
				br
				br
				.lable(style="text-align: center;")
					| PrivateSshManger hỗ trợ API cho Coder tự tạo một Tool ClientChanger PRO hơn.
					br
					| Xem API Document tại: 
					a(href='https://yoloteam.org/category/16/private-ssh-manager') https://yoloteam.org
					
			br
			br
			br
			.lable(style="text-align: center;")
				| Yêu cầu nhiều tính năng hơn? PM: 
				a(href='https://www.facebook.com/yoloteamdotorg') YoloTEAM

		script.
			(function(i,s,o,g,r,a,m){i['QP']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//scripts.poll-maker.com/3012/pollembed.js','qp');