doctype html
html
  title #{title} - PrivateSshManger
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
    link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/styles.min.css', rel='stylesheet')
    style.
      body{
      font-family: "Roboto",sans-serif;
      font-size: 17px;
      }
      #footer {
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
      }
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
      }
      li {
      float: left;
      }
      li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }
      li a.active {
      color: white;
      background-color: #4CAF50;
      }
      li .time{
      padding: 20px 15px 0px;
      font-size: 13px;
      }
      .stats-card {
      text-align: center;
      }
      .stats {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin-top: 7px;
      line-height: 22px;
      color: #333;
      }

  body(contenteditable='false')
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-brand(href='#') PrivateSshManager #{version}
        ul(data-hover='dropdown', data-animations='fadeInDown')
          li
            a.active(href='/') Dashboard
          li
            a(href='/user') User
          li
            a(href='/socks') Socks
          li
            a(href='/campaign') Campaign
          li
            a(href='/api' style='background-color: #ffc000; color: white') API
          li(style='float:right;')
            a(href='/logout') Logout
          li(style='float:right;')
            a(href='/v3', style='background-color: #e87870; color: white; font-weight: bold') v3
          li(style='float:right;')
            .time#server-time #{time}

    .container.ng-scope(style='margin-top:25px; padding-bottom: 10px;')
      .row.forum-stats
        .col-md-3.col-xs-6
          .stats-card
            h2
              span.stats #{totalUser}
              br
              small Users
        .col-md-3.col-xs-6
          .stats-card
            h2
              span.stats #{totalSocks}
              br
              small Total Socks
        .col-md-3.col-xs-6
          .stats-card
            h2
              span.stats #{uploaded}
              br
              small Uploaded Today
        .col-md-3.col-xs-6
          .stats-card
            h2
              span.stats #{used}
              br
              small Used Today

  footer#footer.container.footer
    br
    .copyright
      | Copyright © 2016 
      a(target='_blank', href='https://yoloteam.org') YoloTEAM
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-89633328-1', 'auto');
      ga('send', 'pageview');
