html
	head
		title #{title} - PrivateSshManger
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
		style.
			@charset "UTF-8";
			@font-face {
			    font-family: 'entypo';
			    font-style: normal;
			    font-weight: normal;
			    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.eot');
			    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.eot?#iefix') format('eot'), url('fonts/entypo.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.svg#entypo') format('svg');
			}
		link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/login.min.css', rel='stylesheet')
			
	body
		center(style='margin-top: 25px;')  
		form#loginForm(action='/login', method='post')
			h2
				span.entypo-login
				|  Login (demo/demo)
			button.submit(type='submit')
				span.entypo-lock
			span.entypo-user.inputUserIcon
			input.user(type='text', name='username', placeholder='Username')
			span.entypo-key.inputPassIcon
			input.pass(type='password', name='password', placeholder='Password')
			.message(style='margin-left: 14px; text-align: center; color: #ff0000; background: #e8e8e8; font-size: 14px;') #{message}
		
		div#demo
			label.demo_alert
						| This demo is available for testing purposes.
						br
						| These documents can be removed at any time, 
						br
						| so don't expect your document to be here tomorrow.
						br
						br
						| Please, report any issue on this site to 
						a(href='https://www.facebook.com/yoloteamdotorg') @YoloTEAM
						| .

		script.
			$(".user").focusin(function(){
				$(".inputUserIcon").css("color", "#e74c3c");
			}).focusout(function(){
				$(".inputUserIcon").css("color", "white");
			});

			$(".pass").focusin(function(){
				$(".inputPassIcon").css("color", "#e74c3c");
			}).focusout(function(){
				$(".inputPassIcon").css("color", "white");
			});
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-89633328-1', 'auto');
			ga('send', 'pageview');
		footer(style="text-align: center; background-color: #3F51B5; padding: 10px;")
			a(href='/v3') Private SSH Manger v3