doctype html
html
  title #{title} - PrivateSshManger
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/styles.min.css', rel='stylesheet')
    link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/bootstrap-select.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css.map')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", type="text/javascript")
    script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js", type="text/javascript" )
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type="text/javascript" )
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js", type="text/javascript" )
    script(src="https://yoloteam.github.io/YoloTEAMCDN/public/js/bootstrap-select.min.js",  type="text/javascript")
    link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/socks.min.css', rel='stylesheet')
    
  body(contenteditable='false')
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-brand(href='#') PrivateSshManager #{version}
        ul
          li
            a(href='/') Dashboard
          li
            a(href='/user') User
          li
            a.active(href='/socks') Socks
          li
            a(href='/campaign') Campaign
          li
            a(href='/api' style='background-color: #ffc000; color: white') API
          li(style='float:right;')
            a(href='/logout') Logout
          li(style='float:right;')
            a(href='/v3', style='background-color: #e87870; color: white; font-weight: bold') v3
          li(style='float:right;')
            .time#server-time #{time}
    .container.ng-scope(style='margin-top:10px; padding-bottom: 10px;')
      div#body(style='margin: 0 auto; width: 60%;')
        h3(style="margin-bottom: -15px;") Upload Socks
        br
        form#UploadSocksForm(onsubmit="return false")
          .form-group
            label(for='country') Country
            br
            div(style='padding-left: 10px !important; width: 98.5%;')
              .radio
                label
                  input#country_auto(type='radio', name='countryAutoDetect' checked)
                  | Auto Detect (Normal)
              .radio
                label
                  input#country_manual(type='radio', name='countryManual')
                  | Manual (Fast)
              select.selectpicker#country(data-size="10" data-width="100%" data-live-search="true", style='font-size: 15px;', name='country' required)
                option(disabled selected label="Choose a Country")
          .form-group(style='padding-bottom: 1%')
            label(for='exampleInputFile') File to upload (Only support max 5k line of upload file!)
            div(style='padding-left: 25px !important; width: 50%;')
              input#exampleInputFile(type='file', name='fileToUpload', required)
          .form-group
            label(style='padding-left: 2%; padding-right: 2%;') Options:
            label
                input#duplicateRemoval(style='text-align: center; max-width: 40px' type='checkbox', name='duplicateRemoval' checked)
                |  Duplicate Removal
            label(style='padding-left: 2%; padding-right: 1%;', for='split') Split
            input#split(style='text-align: center; max-width: 40px', type='text', name='split', placeholder='|')
            label(style='padding-left: 2%; padding-right: 1%;', for='state') State Index
            input#state(style='text-align: center; max-width: 45px', type='text', name='state', placeholder='5')
            label(style='padding-left: 2%; padding-right: 1%;', for='city') City Index
            input#city(style='text-align: center; max-width: 45px', type='text', name='city', placeholder='6')
          button.btn.btn-primary(style='width: 100%;', type='submit') Upload
          br
        div.status
          .success#socksupload_success
          .error#socksupload_error
          .warning#socksupload_warning
        br
        h3(style="margin: 30px auto -10px auto;") Socks Reset (Remove from Database)
        br
        div
          button.btn.btn-danger#SocksResetAll(style='width: 100%;') Reset All Socks
          div.status
            .success#socksresetall_success
            .error#socksresetall_error
        br
        form(onsubmit="return false")
          div(style='padding-left: 10px; padding-bottom: 5px; width: 98.5%;')
            select.selectpicker#reset_country(data-size="10" data-width="100%" data-live-search="true", style='font-size: 15px;', name='reset_country' required)
              option(disabled selected label="Choose a Country")
          button.btn.btn-primary#SocksResetByCountry(style='width: 100%;') Reset All Socks by Country
          div.status
            .success#socksresetcountry_success
            .error#socksresetcountry_error
        br
        form(onsubmit="return false")
          div(style='padding-left: 10px; padding-bottom: 5px;')
            input#datePicker(style="background: #dee9ff; border: none; text-align: center; width: 98.5%;" type="text" name="datePicker" placeholder="Pick a Date" required)
          button.btn.btn-primary#SocksResetByDate(style='width: 100%;') Reset All Socks by Date
          div.status
            .success#socksresetdate_success
            .error#socksresetdate_error
  #confirm-submit.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(style='width: 30%; padding-right: 0.5%;')
      .modal-content
        .modal-header
          | Please Confirm
        .modal-body
          | Are you sure you want to Reset All Socks?
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button#SocksResetAll_Sure.btn.btn-primary(style='width: 20%') Sure
  #pleaseWaitDialog.modal.fade.in(data-backdrop='static', data-keyboard='false', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h3#pleaseWaitDialog_title(style='margin:0;')
        .modal-body(style="height: 55px")
          .progress.progress-striped.active
            .progress-bar.progress-bar-primary(style='width: 100%')
  script. 
    $('#datePicker').datepicker({
      todayBtn: "linked",
      autoclose: true,
      orientation: "auto right",
      format: "yyyy-mm-dd"
    });

  //script(src="js/socks.min.js",  type="text/javascript")
  script(src="https://yoloteam.github.io/YoloTEAMCDN/public/js/js-no-min/socks.js",  type="text/javascript")

  footer#footer.container.footer
    br
    .copyright
      | Copyright © 2016 
      a(target='_blank', href='https://yoloteam.org') YoloTEAM