doctype html
html
    title #{title} - PrivateSshManger
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/bootstrap-table.css', rel='stylesheet')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/styles.min.css', rel='stylesheet')
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type="text/javascript" )
        script(src='https://yoloteam.github.io/YoloTEAMCDN/public/js/bootstrap-table.min.js')
        link(href='https://yoloteam.github.io/YoloTEAMCDN/public/css/user.min.css', rel='stylesheet')

    body(contenteditable='false')
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-brand(href='#') PrivateSshManager #{version}
                ul
                    li
                        a(href='/') Dashboard
                    li
                        a.active(href='/user') User
                    li
                        a(href='/socks') Socks
                    li
                        a(href='/campaign') Campaign
                    li
                        a(href='/api' style='background-color: #ffc000; color: white') API
                    li(style='float:right;')
                        a(href='/logout') Logout
                    li(style='float:right;')
                        a(href='/v3', style='background-color: #e87870; color: white; font-weight: bold') v3
                    li(style='float:right;')
                        .time#server-time #{time}
        .container.ng-scope(style='margin-top:25px; padding-bottom: 10px;')
            #toolbar
                button#toolbar_addUser.btn.btn-info
                    i.glyphicon.glyphicon-plus
                    |  New User
            table#table.hoverTable(data-toolbar='#toolbar', data-toggle='table', data-search='true', data-select-item-name='toolbar1', data-pagination='true', data-sort-order="desc")
                thead
                    tr
                        th.text-center(data-sortable="true") Num
                        th.text-center(data-sortable="true") Username
                        th.text-center Password
                        th.text-center(data-sortable="true") Limit Day
                        th.text-center(data-sortable="true") Limit Socks
                        th.text-center(data-sortable="true") Created On
                        th.text-center Edit
                each item, i in rows
                    tr
                        td=i+1
                        td=item.username
                        td.text-left
                            input.currentPassword#test(disabled, type='password', style='width:100%; cursor: pointer;', value=item.password)
                        td=item.daysLimit
                        td=item.socksLimit
                        td #{moment(item.createdOn).format("YYYY-MM-DD HH:mm:ss")}
                        td
                            .btn-xs.btn-primary#edit-row.i.glyphicon.glyphicon-pencil(style='width:50% !important;')
                            .btn-xs.btn-warning#del-row.i.glyphicon.glyphicon-remove(style='margin-left: 10%')

    #myModalAdd.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title Add User
                // Modal Body
                .modal-body
                    form.form-horizontal
                        .form-group
                            label.col-sm-2.label.label-danger#myModalAdd_Msg
                        .form-group
                            label.col-sm-2.control-label Username (a-z; A-Z; 0-9)
                            .col-sm-10
                                input#addUsername.form-control(type='text', placeholder='Username')
                        .form-group
                            label.col-sm-2.control-label Password
                            .col-sm-10
                                input#addPassword.form-control(type='text', placeholder='Password')
                        .form-group
                            label.col-sm-2.control-label Limit Day
                            .col-sm-10
                                input#addDaysLimit.form-control(onkeypress='return event.charCode >= 48 && event.charCode <= 57', type='text', placeholder='30')
                        .form-group
                            label.col-sm-2.control-label Limit Socks
                            .col-sm-10
                                input#addSocksLimit.form-control(onkeypress='return event.charCode >= 48 && event.charCode <= 57', type='text', placeholder='100')
                // Modal Footer
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                    button#addUser.btn.btn-primary(style='width: 30%') Add
    #myModalEdit.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title Edit User
                // Modal Body
                .modal-body
                    form.form-horizontal
                        .form-group
                            label.col-sm-2.label.label-danger#myModalEdit_Msg
                        .form-group
                            label.col-sm-2.control-label Username
                            .col-sm-10
                                input#editUsername.form-control(readonly='', type='text', placeholder='Username')
                        .form-group
                            label.col-sm-2.control-label Password
                            .col-sm-10
                                input#currentPassword.form-control(type='password', style='display:none;')
                                input#editPassword.form-control(type='password', placeholder='Leave it blank to use current password')
                        .form-group
                            label.col-sm-2.control-label Limit Day
                            .col-sm-10
                                input#editDaysLimit.form-control(onkeypress='return event.charCode >= 48 && event.charCode <= 57', type='text', placeholder='30')
                        .form-group
                            label.col-sm-2.control-label Limit Socks
                            .col-sm-10
                                input#editSocksLimit.form-control(onkeypress='return event.charCode >= 48 && event.charCode <= 57', type='text', placeholder='100')
                // Modal Footer
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button#SaveChanges.btn.btn-primary Save changes

    #myModalDelete.modal.fade(role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title Delete User
                // Modal Body
                .modal-body
                    .Delete
                        label#myModalDelete_User(style='display: block; text-align: center;')
                // Modal Footer
                .modal-footer
                    label#myModalDelete_Msg(style='color: red')
                    button.btn.btn-default(type='button', data-dismiss='modal') No
                    button#yesDelete.btn.btn-primary(style='width: 30%') Yes

    script(src='https://yoloteam.github.io/YoloTEAMCDN/public/js/user.min.js')

    footer#footer.container.footer
        br
        .copyright
            | Copyright © 2016 
            a(target='_blank', href='https://yoloteam.org') YoloTEAM
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-89633328-1', 'auto');
            ga('send', 'pageview');