html
	head
		title PrivateSshManger v3
		style.
			body {
			background: #009688;
			font-family: 'Roboto', sans-serif;
			}
			#poll{
			width: 300px;	
			margin: 80px 32% 10px;
			}
			a:link, a:visited {
			color: #FFC107;
			}
			#demo{
			border: dotted;
			width: 800px;
			color: white;
			font-weight: bold;
			font-size: 20px;
			font-family: arial, sans-serif;
			padding: 30px;
			margin: 100px 15%;
			}

	body
		center(style='margin-top: 25px;')  
		div#demo
			label
				.h1(style="font-size: 30px; text-align: center;") Vote tính năng cho PrivateSshManger phiên bản 3
				br
				br
				| 1. Campain Manager
				br
				br
				.lable(style="padding-left: 20px")
					ul
						li Tạo Campain sau đó import Socks từ Database vào Campain.
						li Socks chỉ sử dụng trong Campain 01 lần duy nhất (không bao giờ trùng)
						li Socks trong Database dùng được cho nhiều Campain
					| ___________
				br
				br
				| 2. GroupUser Manager
				br
				br
				.lable(style="padding-left: 20px")
					| Quản lý User theo Group:
					br
					ul
						li Đặt Campain
						li Đặt số ngày sử dụng (Limit Day)
						li Đặt số socks tối đa cho (Limit Socks)
						li Đặt số socks được lấy về trong 01 ngày (Limit Socks per Day)
					| ___________
				br
				br
				| 3. AutoUploadSocks
				br
				br
				.lable(style="padding-left: 20px")
					| Tích hợp Upload Postback API.
					br
					| Ví dụ:
					ul
						li Tạo tool tự động hẹn giờ Upload file txt của tool Scan-Socks-A lên Server
						li Tạo tool ScanSocks có tích hợp Upload Postback API của server, v.v..
					| ___________
				br
				br
				| 4. ToolCheckClient
				br
				br
				.lable(style="padding-left: 20px")
					| Lấy SSH từ Server về để CheckFresh, Blacklist, .. sau đó Update lên Server

			div#poll(poll='937469x8db72355-39') Loading Poll...
			br
			br
			br
			.lable(style="text-align: center;")
				| Yêu cầu nhiều tính năng hơn? PM: 
				a(href='https://www.facebook.com/yoloteamdotorg') YoloTEAM

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-89633328-1', 'auto');
			ga('send', 'pageview');

		script.
			(function(i,s,o,g,r,a,m){i['QP']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//scripts.poll-maker.com/3012/pollembed.js','qp');

	footer(style="text-align: center; background-color: #3F51B5; padding: 10px;")
		a(href='/') Quay lại PrivateSshManger V2