body{
        font-family: "Roboto",sans-serif;
        font-size: 17px;
        }
        #footer {
        display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        }
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
        }
        li {
        float: left;
        }
        li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        li .time{
        padding: 20px 15px 0px;
        font-size: 13px;
        }
        li a.active {
        color: white;
        background-color: #4CAF50;
        }
        td {border: 1px solid #eee; padding: 8px; cursor: pointer;}
        .hoverTable{
        width:100%;
        border-collapse:collapse;
        }
        .hoverTable td{
        padding:7px; border:#4e95f4 1px solid;
        }
        .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
        background-color: #009688;
        color: white;
        }
        .fixed-table-container thead th {
        font-weight: 700; */
        }
        .dropdown-menu li{
        float: none;
        }
        .dropdown-menu{
        min-width: 50px;
        }
        .modal-dialog {
        width:35%;
        }
        .modal-dialog.modal-sm {
        width:20%;
        }
        .modal-body .form-horizontal .col-sm-2,
        .modal-body .form-horizontal .col-sm-10 {
        width:100%;
        }
        .modal-body .form-horizontal .control-label {
        text-align: left;
        }
        .currentPassword {
        background:rgba(0,0,0,0);
        border:none;
        }
        .btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
        background-color: #FF9800;
        }
        .btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active{
        background-color: #F44336;
        }
        .bootstrap-tagsinput {
        border: none;
        box-shadow: none;
        }
        .bootstrap-tagsinput input {
        display: none;
        }